@import '../../assets/scss/_help/color';

.list-area {
  text-align: center;

}

.list {
  display: flex;
  width: 65%;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  padding: 0;
  border-bottom: 1px $borderColor solid;
}

.list-item {
  text-decoration: none;
  list-style: none;
  margin: auto;
  width: 33.33%;
  padding: 1rem 3rem;
  cursor: pointer;
  color: $fontGray;
  font-size: 16px;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $purple;
    color: $purple;
  }
}

.list-item--active {
  border-bottom: 2px solid $purple;
  color: $purple;
}

.history-nodata-title {
  text-align: center;
  margin: 3.5rem 0 3rem;

  h3 {
    font-size: 22px;
    color: $purple;
  }
}

.history-nodata-caption {
  width: 70%;
  border: 1px solid #ddd;
  padding: 30px;
  margin: 50px auto;
  border-radius: 7px;
}

.caption-item{
  line-height: 2;
  margin: 13px 0;
  list-style-image: url(../../assets/img/icon/bullet.png);
  padding-right: 7px;
}

.foot-note{
font-size: 13px;
margin-top: 20px;
}
.call-link{
  color: blue;
  cursor: pointer;
}