@import '../../assets/scss/_help/color';

.list-area {
  text-align: center;

}

.list {
  display: flex;
  width: 75%;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto 50px;
  padding: 0;
  border-bottom: 1px $borderColor solid;
}

.list-item {
  text-decoration: none;
  list-style: none;
  margin: auto;
  width: 33.33%;
  padding: 1rem 3rem;
  cursor: pointer;
  color: $fontGray;
  font-size: 16px;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $purple;
    color: $purple;
  }
}

.list-item--active {
  border-bottom: 2px solid $purple;
  color: $purple;
}

.history-date{
  padding-right: 30px;
    font-size: 14px;
    margin-bottom: 0;
    color: $purple;

}

.history-nodata-title {
  text-align: center;
  margin: 3.5rem 0 3rem;

  h3 {
    font-size: 22px;
    color: $purple;
  }
}

.history-nodata-caption {
  width: 70%;
  border: 1px solid #ddd;
  padding: 30px;
  margin: 50px auto;
  border-radius: 7px;
}

.caption-item {
  line-height: 2;
  margin: 13px 0;
  list-style-image: url(../../assets/img/icon/bullet.png);
  padding-right: 7px;
}

.foot-note {
  font-size: 13px;
  margin-top: 20px;
}

.call-link {
  color: blue;
  cursor: pointer;
}

.history-detail {
  width:75%;
  margin: auto;
}

.detail-card {
  height: 120px;
  border: 1px solid #ddd;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 #9a9a9a;
  padding: 15px;
  display: flex;
}

.right {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  background-color: #e3e3e3;
  padding: 20px 0;
  text-align: center;
  

  img {
    width: 100%;
    height: 100%;
  }
}

.center {
  padding-top: 11px;
}

.agency-name {
  font-size: 19px;
  color: $fontGray;
}

.agancy-address {
  font-size: 12px;
  color: grey;
  margin: 0;
  white-space: nowrap;
  line-height: 25px;
}

.other-detail {
  font-size: 13px;
  color: #4d4d4d;
}

.left{
  position: relative;
 
}

.delete{
  position: absolute;
  top: 10px;
  left: 0;
  width: 70px;  img {
    cursor: pointer;

float: left;  }
span{
  float: right;
  line-height: 1;
  font-size: 12px;
  color: $purple;

}
}

.ip{
  position: absolute;
    bottom: 2px;
    left: 0;
    font-size: 13px;
    color: grey;
}
