<div class="footer">

  <!-- Footer -->
  <div class="page-footer font-small ">

    <!-- Footer Links -->
    <div class="linksArea">
      <div class="container  text-center text-md-right">
        <div class="row">
         
          <hr class="clearfix w-100 d-md-none">
  
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">سپهر360</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">بازدید های من </a>
              </li>
              <li>
                <a href="#!">تماس با ما </a>
              </li>
              <li>
                <a href="#!">نصب اپلیکیشن</a>
              </li>
              <li>
                <a href="#!">سفارش تبلیغات</a>
              </li>
              <li>
                <a href="#!">حریم خصوصی</a>
              </li>
              <li>
                <a href="#!">درباره سپهر 360</a>
              </li>
            </ul>
  
          </div>
      
  
          <hr class="clearfix w-100 d-md-none">
  
        
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">اطلاعات مفید</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">سوالات متداول</a>
              </li>
              <li>
                <a href="#!">اطلاعات پرواز همه فرودگاه ها</a>
              </li>
              <li>
                <a href="#!">ئرداخت عوارض خروج</a>
              </li>
              <li>
                <a href="#!">تشریفات اختصاصی مهرآباد</a>
              </li>
              <li>
                <a href="#!">تشریفات اختصاصی امام خمینی</a>
              </li>
            </ul>
  
          </div>
         
  
          <hr class="clearfix w-100 d-md-none">
  
        
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">دانستنی های پرواز</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">اطلاعات چارتر</a>
              </li>
          
            </ul>
  
          </div>
         



          <div class="  col-md-4 mx-auto pictureLinks">
  <div class="row">
    <div class=" ">

    <div class="cardLink">
    
      <img src="../../../assets/img/footerLinks/hoqoqemosafer.png"  alt=""  >
    </div>
      
  </div>
  <div class=" ">

  <div class="cardLink">

      <img src="../../../assets/img/footerLinks/logo.png"  alt=""  >
    </div>
  </div>
  <div class=" ">

  <div class="cardLink">

      <img src="../../../assets/img/footerLinks/3.png"  alt=""  >
    </div>
  </div>
  <div class=" ">

  <div class="cardLink">

      <img src="../../../assets/img/footerLinks/4.png"  alt=""  >
    </div>
  </div>
  <div class=" ">

  <div class="cardLink">

      <img src="../../../assets/img/footerLinks/5.png"  alt=""  >
    </div>
  </div>
  <div class=" ">

  <div class="cardLink">

      <img src="../../../assets/img/footerLinks/6.png"  alt=""  >
    </div>
    </div>
  </div>
  
          </div>
        </div>
       
  
      </div>
    </div>
   
    <!-- Footer Links -->
    <!-- Social buttons -->
    <div class="socialArea">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
    
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-linkedin" aria-hidden="true"></i>

        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-telegram" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  
</div>
  </div>
  <!-- Footer -->
</div>
