@import '../../../assets/scss/_help/color';

.header{
    background-color: $purple !important;
    height: 65px;
    padding: 0 3%;
    .navbar-toggler,.navbar-toggler:focus  { 
         border: none;
          }

    nav{
        padding: 0;
    z-index: 20;
        ul{
            background: $purple;
            // width: 20%;
            li{                
                a{
                    color: white;
                    font: normal bold 14px/21px sans;
                    padding: 1.1rem 1rem; 
                    margin: 0;
                    border-bottom: transparent 2px solid;
                    transition: border-bottom 0.3s ease;
                    &:hover{
                        border-bottom: white 2px solid;
                    }
                   
                }
                .active-link{
                        border-bottom: white 2px solid;

                }
                & +li{
                    a{

                        padding-right: 1.5rem;
                        padding-left: 1.5rem;
                    }
                }
               
              
            }
        }
        .navbar-brand{
            svg{

                fill: white;
                width: 124px;
            }
        }
    }
   
}

@media only screen and (max-width: 990px) {
    .navbar-brand{
        display:none;
    }

}