@import '../../../assets/scss/_help/color';

.header{
    background-color: $purple !important;
    height: 65px;
    nav{
        padding: 0;
        ul{
            li{
                a{
                    color: white;
                    font: normal bold 14px/21px sans;
                    padding: 1.1rem 0; 
                    border-bottom: transparent 2px solid;
                    transition: border-bottom 0.3s ease;
                    &:hover{
                        border-bottom: white 2px solid;
                    }
        
                }
                & +li{
                    margin-right: 3rem;
                }
               
              
            }
        }
        .navbar-brand{
            svg{

                fill: white;
                width: 124px;
            }
        }
    }
   
}