<body>
  <div class="row firstRow">
    <div class="container">
      <!-- <h3>{{airportData|json}}</h3> -->
      <span>{{airportData.cityName}}</span>
      <span>/فرودگاه </span>
      <span>{{airportData.name}}</span>


    </div>

  </div>

  <div class="container detailBody">
    <div class="row">
      <div class="col-md-6 detail">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 detailTitle">
              <a href="#" >
                <i class="fa fa-plane" aria-hidden="true"></i>
                <span>مشاهده تابلوی پرواز ها</span>
              </a>
            </div>
            
          </div>
        </div>
        <div class="col-md-10" *ngIf="airportData.hasAnyTerminal">
          <div class="row">
            <div class="col-md-6 detailTitle">
              <a href="#" [routerLink]="['../../terminals' , airportData.iataCode ]">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <span>اطلاعات ترمینال ها </span>
              </a>
            </div>
            
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 detailTitle">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>مرکز تلفن:</span>
            </div>
            <div class="col-md-6 detailData">
              <a >
                <span>{{airportData.phoneNumber}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 detailTitle">
              <i class="fa fa-circle-o" aria-hidden="true"></i>
              <span>وب سایت:</span>
            </div>
                  <div class="col-md-6 detailData">
            <a href="{{airportData.websiteLink}}" >
              <span>{{airportData.websiteLink}}</span>
            </a>
          </div>

        </div>
      </div>

        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 detailTitle">
              <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
              <span>ویکی پدیا:</span>
            </div>
          <div class="col-md-6 detailData">
            <a href="{{airportData.wikipediaLink}}" >
              <span>www.fa.wikipedia.org</span>
            </a>
          </div>

        </div>
      </div>

        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6 detailTitle">
              <a href="{{airportData.cityWeatherLink}}" >
                <i class="fa fa-sun-o" aria-hidden="true"></i>
                <span>آب و هوای {{airportData.cityName}}</span>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 picture">
<div class=" col-md-8 noPad">
  
  <div class="imgBox">
    <img src="https://api.sepehr360.ir/{{airportData.imageUrl}}"  class="img-fluid">
    <h4 class="imgTitle">
      <span>فرودگاه &nbsp;</span>
      <span>{{airportData.name}} </span></h4>
    </div>
      <p>در صورت تمایل می توانید تصاویر این فرودگاه را از طریق تلگرام ارسال نمایید،
    تا به همراه نام شما در سایت نمایش داده شود.</p>
</div>
      </div>
    </div>
  </div>
</body>
