<body>
  <div class="row row--first">
    <div class="container">
      <p class="">اطلاعات ترمینال های فرودگاه  {{airportData.name}}</p>
      <div class=" search">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="نام ترمینال مورد نظر را وارد کنید" class="form-control" #input
          (keyup)='filterData(input.value)'>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="table-area">

            <div class="table-area__header"> <img alt="ترمینال پروازهای برگشت" height="24" width="32"
                src="../../assets/img/icon/wentflights.png">
              ترمینال پروازهای
              <span> رفت از 
                {{airportData.name}} </span>
            </div>
            <div class="table-area__title">
              <div class="col-md-6 ">
                <span>
                  ایرلاین

                </span>

              </div>
              <div class="col-md-6 no-pad">
                <span>
                  شماره ترمینال
                </span>
              </div>
            </div>


            <table class="table">


              <tbody>
                <tr class=" " role="alert" *ngIf='filteredData.length === 0'>
                  موردی یافت نشد </tr>
                <tr *ngFor="let data of filteredData">
                  <td><img alt="لوگو ایرلاین های  فرودگاه مهرآباد" class="pl-1 icon" height="24" width="24" src="https://cdn.sepehr360.ir/{{data.airlineLogoUrl}}">{{data.airlineName}}</td>
                  <td>ترمینال{{data.outboundFlightsTerminalName}}</td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
        <div class="col-md-6">
          <div class="table-area">
            <div class="table-area__header"> <img alt="ترمینال پروازهای برگشت" height="24" width="32"
                src="../../assets/img/icon/backflights.png">
              ترمینال پروازهای<span> برگشت به  {{airportData.name}} </span>
            </div>
            <div class="table-area__title">
              <div class="col-md-6 ">
                <span>
                  ایرلاین

                </span>

              </div>
              <div class="col-md-6">
                <span>
                  شماره ترمینال
                </span>
              </div>
            </div>


            <table class="table">


              <tbody>
                <tr class=" " role="alert" *ngIf='filteredData.length === 0'>
                  موردی یافت نشد </tr>
                <tr *ngFor="let data of filteredData">
                  <td><img alt="لوگو ایرلاین های  فرودگاه مهرآباد" class="pl-1 icon" height="24" width="24" src="https://cdn.sepehr360.ir/{{data.airlineLogoUrl}}">{{data.airlineName}}</td>
                  <td>ترمینال{{data.inboundFlightsTerminalName}}</td>

                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
