


<body>
  <div class="row firstRow">
    <div class="container">
      <div class=" searchBox">

        <i class="fa fa-search"></i>
        <input type="text" placeholder="نام شهر یا فرودگاه مورد نظر خود را وارد کنید" class="form-control"
          (keyup)='filterData($event.target.value)'>
      </div>
    </div>

  </div>

  <div class="container">


    <div class="row tehran">
      <div class=" col-lg-2  col-md-3  col-sm-4 col-6">
        <div class="card text-center" [routerLink]="['detail' , selectedData.iataCode ]">
          <span class="city pb-1">{{selectedData.city}}</span>
          <span class="airport pt-1">{{selectedData.airport}}</span>
        </div>

      </div>
    </div>
    <div class="title">
      <h5>
        اطلاعات پرواز سایر فرودگاه های کشور
      </h5>
    </div>

    <div class="alert alert-primary" role="alert" *ngIf='airportsData.length === 0'>
      موردی یافت نشد </div>

    <div class="row" *ngIf="airportsData">
      <div class=" col-lg-2  col-md-3  col-sm-4 col-6
       " *ngFor="let data of airportsData">
        <div class="card text-center" [routerLink]="['detail' , data.iataCode ]" >
          <span class="city pb-1">{{data.city}}</span>
          <span class="airport pt-1" *ngIf="data.airport !== '_'">{{data.airport}}</span>

        </div>
      </div>




    </div>
  </div>



  <!-- <h5>{{database|json}}</h5> -->

</body>
